<div id="logout-page" class="w-100 h-100">
  <div id="logout-container" class="w-100 h-100">

    <!-- Logout -->
    <div>
      <form id="logout-contain" class="card">
        <img class="card-img-top" src="assets/images/login-form-pic.jpg">
        <div class="card-body">
          <h5 class="card-title">You have been logged out</h5>
        </div>
        <div>
          <a id="sign-up-btn" routerLink="/login" routerLinkActive="active">Log back in</a>
        </div>
      </form>
    </div> <!-- End Logout -->

  </div>
</div>
